@import "~bootstrap/dist/css/bootstrap.css";
@import "~admin-lte/dist/css/AdminLTE.css";
@import "~admin-lte/dist/css/skins/skin-blue.css";
@import "~select2/dist/css/select2.css";
@import "~daterangepicker/daterangepicker.css";
@import "~font-awesome/scss/font-awesome";

@import "~datatables.net-bs/css/dataTables.bootstrap.css";


@media (min-width: 768px) {
  .dl-horizontal dt {
    width: 120px;
  }
  .dl-horizontal dd {
    margin-left: 140px;
  }
}

#datatable tbody tr:hover {
  cursor: pointer;
}